<div class = "row">
  <div class = "col-xs-10">
    <app-shopping-edit></app-shopping-edit>
    <hr>
    <div *ngIf = "ingredients.length !== 0" class = "list-group">
      <a (click) = "onEditItem(id)" *ngFor = "let ingredient of ingredients; let id = index" class = "list-group-item"
         style = "cursor: pointer">
        {{ ingredient.name }} <span class = "badge badge-pill">{{ ingredient.amount }}</span>
      </a>
    </div>
    <h3 *ngIf = "ingredients.length === 0">The shopping list is empty. Please add an item</h3>
  </div>
</div>
